@import "tailwindcss";

:root {
  --teal-dark: #074F57;
  --purple-dark: #42033D;
  --pastel-pink: #FF8CA6;
  --gray-back: #E3E3E3;
}

@theme inline {
  --color-teal-dark: var(--teal-dark);
  --color-purple-dark: var(--purple-dark);
  --color-pastel-pink: var(--pastel-pink);
  --color-gray-back: var(--gray-back);
  --font-principal: var(--font-principal);
  --font-elegante: var(--font-elegante);
  --font-divertida: var(--font-divertida);
  --font-cursiva: var(--font-cursiva);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
